{% macro receipt_value(variable_name, title, data, is_editable) %}
<div class="mb-3 data-container individual" data-variable-name="{{ variable_name }}">
    <label for="receipt-{{ variable_name }}" class="form-label">{{ title }}</label>
    <div class="input-group">
        {% if is_editable %}
        <input type="text" class="form-control" id="receipt-{{ variable_name }}">
        {% else %}
        <input type="text" class="form-control" id="receipt-{{ variable_name }}" disabled>
        {% endif %}
        <div class="input-group-append">
            <img id="receipt-{{ variable_name }}-img" class="img-fluid img-thumbnail" alt="image">
        </div>
    </div>
</div>
{% endmacro %}