{% extends "base.html" %}

{% block title %}Real Estate{% endblock %}

{% block aditional_styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<style>
    #map {
        height: 600px;
        width: 100%;
        border-radius: 8px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h4>Real Estate</h4>
    <div id="map"></div>
</div>
{% endblock %}

{% block aditional_scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{{ url_for('real_estate_static', path='real_estate/js/real-estate.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", initMap);
</script>
{% endblock %}