{% extends "base.html" %}

{% from "imports/ui_select_account.html" import generate_account_options %}

{% block title %}finance-board | Data import Revolut{% endblock %}

{% block title_inline %}Data import{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Import from Revolut</h5>
                    <p>Import from Revolut uses the endpoint ".../api/retail/user/current/transactions/last"</p>
                    {{ generate_account_options(accounts) }}
                    <textarea class="form-control" id="revolut-data" rows="10"></textarea>
                    <button class="btn btn-primary" id="revolut-import">Import</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block aditional_styles %}
{% endblock %}

{% block aditional_scripts %}
<script type="module" src="{{ url_for('imports.static', filename='imports/js/script-revolut.js') }}"></script>
{% endblock %}