{% extends "base.html" %}

{% block title %}finance-board | Data import{% endblock %}

{% block title_inline %}Data import{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Data import</h5>
                    <ul>
                        <li>Banking
                            <ul>
                                <li><a href="{{ url_for('import_bbva') }}">BBVA</a></li>
                                <li><a href="{{ url_for('import_bankinter') }}">Bankinter</a></li>
                                <li><a href="{{ url_for('import_imagin') }}">Imagin</a></li>
                                <li><a href="{{ url_for('import_revolut') }}">Revolut</a></li>
                                <li><a href="{{ url_for('import_norma43') }}">Norma43</a></li>
                            </ul>
                        </li>
                        <li>Crypto
                            <ul>
                                <li><a href="{{ url_for('import_binance') }}">Binance</a></li>
                            </ul>
                        </li>
                        <li>Receipts
                            <ul>
                                <li><a href="{{ url_for('import_receipts') }}">Receipts</a></li>
                            </ul>
                        </li>
                        <li>Stock
                            <ul>
                                <li><a href="{{ url_for('import_degiro') }}">Degiro</a></li>
                                <li><a href="{{ url_for('import_trade_republic') }}">Trade Republic [pdf]</a></li>
                                <li><a href="{{ url_for('import_trade_republic_csv') }}">Trade Republic [csv]</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block aditional_styles %}
{% endblock %}

{% block aditional_scripts %}
<script src="{{ url_for('static', path='js/imports/script-stock.js') }}"></script>
{% endblock %}